#nav
{
  background-color: MidnightBlue;
  font-size: 1.5rem;
  color:white;
  font-weight: bold;
  margin-bottom: 60px;
}
#searchbar
{
  padding-right: 30px;
  border:1px solid black;
  border-radius: 2rem;
  width: 400px;
  margin-left: 200px;
}
.sign
{
  color: white;

}
#Signin
{
  margin-left: 200px;
}
.fa-shopping-cart
{
  margin-right: 60px;
  color: white;
}
body
{
   background: linear-gradient(to bottom, #9999ff 0%, #ccffcc 100%) no-repeat;
   height: 100%;
}
.card
{
  margin : 50px;
  height : 480px;
}
.card-group
{
  margin-bottom: 40px;
}
.card:hover
{
  webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
h1
{
  margin: 50px;
}
h7 {
  visibility: hidden;
}
img{
  height:300px;
}
