
.card-group
{
  display: none;
  float: left;
}

h1
{
  display: none;
  text-align: center;
  padding : 200px;
  padding-left: 350px;
}

#Amount
{
  width:91.5%;
  height: 150px;
  display: block;
  text-align: center;
  background: white;
  font-size: 60px;
  padding : 30px;
  margin-left: 50px;
  margin-RIGHT: 50px;
}
