<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'ShoppingCart.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body>
    <script type="text/javascript"  src="{% static 'ShoppingCart.js' %}"></script>

    <div class="container-fluid">

        <div class="row">
            <h1>{{ShopHead}}</h1> <!-- here the data(ShopHead)is taken from views.py -->
        </div>
        <br/><br/>
        <div class="row navbar">
            <div class="col-1">
                Click n Ship
            </div>
            <div class="col-2">
                <input type="text" />
            </div>
            <div class="col-1">
                link-1
            </div>
            <div class="col-1">
                link-2
            </div>
            <div class="col-7">
                <button>Sign in</button>
            </div>
        </div>
        <br/><br/>
        <br/>
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" height="300" src="{% static 'image1.jpeg' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Headphones</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">See more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" height="300" src="{% static 'image2.jpeg' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Watch</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">See more</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" height="300" src="{% static 'image3.jpeg' %}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Spray</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-group">
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Headphones
                            <span class="badge badge-primary badge-pill">$340</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Watch
                            <span class="badge badge-primary badge-pill">$200</span>
                          </li>
                          <li class="list-group-item d-flex justify-content-between align-items-center">
                            Spray
                            <span class="badge badge-primary badge-pill">$20</span>
                          </li>
                            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">
                            Total
                            <span class="badge badge-primary badge-pill">$460</span>
                          </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br/><br/><br/><br/>

        <div class="container">
            <h1>Inventory</h1>

            <div class="row">
            <div class="col-12">
                <div id="accordion">

                    <div class="card">
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Books
                        </button>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                          ==Show books here==<br/><br/>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                    </div>
                    <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Collapsible Group Item #2
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                    </div>
                    <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Collapsible Group Item #3
                        </button>
                      </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
            </div>
    </div>

  </body>
</html>
